{% extends 'base.html' %}

{% block head_title %}{{ block.super }}{{ object.tour_name }}{% endblock head_title %}

{% block content %}
<div class="container">
<div class="row justify-content-sm-center">
    {% if object.title %}
        <div {% if object.video_embed %} class="col-md-6" {% else %} class="col" {% endif %}>
            <div class="card text-white">
                <img src="{{ object.image.url }}" class='img-fluid card-img'>
                <div class="card-img-overlay align-middle">
                    <p class="card-title text-center align-middle" style="background: rgba(52, 58, 64, 0.7);">
                        {{ object.title }}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
    {% if object.video_embed %}
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            {{ object.video_embed|safe }}
          </div>
        </div>
    {% endif %}
    </div>
</div>
<div class="container">
    {% if object.dates %}
    <div class="row text-center">
        <div class="col">
            <hr>
            <h3 class="text-muted">Даты поездок:</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <table class="table table-bordered">
                <tbody>
                    {{ object.dates|safe }}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
<div class="container">
    {% if object.tour_program %}
    <div class="row">
        <div class="col">
        <hr>
        <h3 class="text-muted text-center">Программа поездки:</h3>
            <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th style="width:7%">День</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                {{ object.tour_program|safe }}
            </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
<div class="container">
    {% if object.included %}
    <div class="row">
        <div class="col">
            <div class="alert alert-success" role="alert">
                <h5>В стоимость тура входит:</h5>
                    <p>{{ object.included|safe }}</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="container">
    {% if object.not_included %}
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
              <h5>В стоимость тура не входит:</h5>
                <p>{{ object.not_included|safe }}</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="container">
    {% if object.info %}
    <div class="row">
        <div class="col">
            <div class="alert alert-info" role="alert">
                <p>{{ object.info|safe }}</p>            
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="container">
<div class="row justify-content-sm-center" style="padding-bottom: 5px">
  <div class="col-sm-6">
    <div class="card">
      <h3 class="text-center my-auto">Оставить заявку:</h3>
      {% include 'snippets/join_form.html' with form=form %}
    </div>
  </div>
</div>
</div>
{% if object.leave_capture %}
<span class="leave-capture" show="true"></span>
{% endif %}
{% if object.json_ld %}
    <script type="application/ld+json">
        {{ object.json_ld|safe }}
    </script>
{% endif %}
{% endblock %}