<footer class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3">
        <h3>Наш адрес:</h3>
        <div class="card footer-card">
          <div class="card-block">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">г. Минск</li>
              <li class="list-group-item">ул. Веры Хоружей, д. 1А,</li>
              <li class="list-group-item">ТЦ Силуэт, нижний уровень,
              сектор Б, ряд 3, место 11</li>
              <!-- <a class="footer-link" href=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> На карте</a> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <h3>Контакты:</h3>
        <div class="card footer-card">
          <div class="card-block">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h5>Телефоны:</h5></li>
              <a class="list-group-item" href="tel:+375293694589">+375 (29) 369-45-89</a>
              <a class="list-group-item" href="tel:+375297779723">+375 (29) 777-97-23</a>
              <a class="list-group-item" href="tel:+375259016706">+375 (25) 901-67-06</a>
              <li class="list-group-item"><h5>Email: </h5></li>
              <a class="list-group-item" href="mailto:travellabminsk@gmail.com">travellabminsk@gmail.com</a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <h3>Время работы:</h3>
          <div class="card footer-card">
            <div class="card-block">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Пн - Сб: 10:00 - 19:00</li>
                <li class="list-group-item">Вс: выходной</li>
              </ul>
            </div>
          </div>
        </div>
      <div class="col-sm-3">
        <h3>Cоциальные сети:</h3>
        <div class="card footer-card">
          <div class="card-block">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="https://vk.com/travellab_minsk">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-vk fa-stack-1x"></i>
                  </span>
                </a>
                <a href="https://www.instagram.com/travellab_minsk/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                  </span>
                </a>
                <a href="https://www.youtube.com/channel/UCFuQVIs4Z6kQuzyj0g1bAGw">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-youtube-square fa-stack-2x"></i>
                  </span>
                </a>
                <a href="https://www.facebook.com/travellabminsk">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-facebook-square fa-stack-2x"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr/>
        <p class="text-center">УНП 192689959 ЧТУП "Трэвэл Лаб"</p>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm'>
        <div class="copyright text-center">
        Сделано с <i class='fa fa-heart' aria-hidden="true"></i> &copy; 2016 -                     
          <script>
          document.write(new Date().getFullYear())
          </script>
        Travel Lab
        </div>
      </div>
    </div>
  </div>
</footer>