{% load static %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo_color_h50.png' %}" alt="TravelLab"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">О нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Туры
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'bus-tour-list' %}">Автобусные туры</a>
                <a class="dropdown-item" href="{% url 'avia-tour-list' %}">Авиатуры</a>
                <a class="dropdown-item" href="{% url 'corp-tour-list' %}">Корпоративные туры</a>
                <a class="dropdown-item" href="{% url 'ind-tour-list' %}">Индивидуальные туры</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="tel:+375293694589">+375-29-369-45-89</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:+375297779723">+375-29-777-97-23</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:+375259016706">+375-25-901-67-06</a>
            </li>
        </div>
    </div>
    </nav>
    