{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ object.head_description }}">
    <meta name="keywords" content="{{ object.head_keywords }}">
    <meta name="chargedflow" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <!-- Put this script tag to the <head> of your page -->
    {% include 'snippets/css.html' %}
    <title>{% block head_title %}Travel Lab | Лаборатория Путешествия {% endblock head_title %}</title>
</head>
<body>

{% include 'snippets/header.html' %}

{% block content %}
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col">
           <a class="mobile-btn fixed-bottom btn btn-success" href="tel:+375297779723"><i class="fa fa-phone fa-rotate-90" aria-hidden="true"></i> Позвонить</a> 
        </div>
    </div>
</div>
{% include 'snippets/footer.html' %}
{% include 'snippets/js.html' %}
<script>
    $(document).ready(function() {
        var $marketingModal = $("#signUpModal");
        var didDismissModal = false;
        var doShowMarketing = false;

        doShowMarketing = $(".leave-capture").attr('show')

        $("body").mouseleave(function(){
            if (!didDismissModal && doShowMarketing){
                $marketingModal.modal()
            }
        })

        $marketingModal.on("hidden.bs.modal", function(e){
            didDismissModal = true;
        })

        $(".join-form").submit(function(e){
        e.preventDefault();
        var this_ =$(this)
        var joinFormAPIEndpont = "{% url 'form-join' %}";
        $.ajax({
            method: "POST",
            data: this_.serialize(),
            url: joinFormAPIEndpont,
            success: function(data){
                didDismissModal=true;
                $marketingModal.modal('hide')
                this_.parent().html("<p class='lead'>Спасибо за заявку, наш менеджер свяжется с Вами!</p>")
            },
            error: function(data){
                this_.find(".join-form-alert").fadeIn();
                this_.find(".join-form-error").text(data.responseJSON.non_field_errors[0]);
                // $(".join-form-alert").fadeIn();
                // $(".join-form-error").text(data.responseJSON.non_field_errors[0]);
            }
        })
    })
    });
</script>
{% include 'snippets/modal.html' %}
</body>
</html>

