{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="description" content="{{ object.head_description }}">
    <meta name="keywords" content="{{ object.head_keywords }}"> -->
    <meta name="author" content="chargedflow">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <!-- Put this script tag to the <head> of your page -->
    {% include 'snippets/css.html' %}
    <title>{% block head_title %}Travel Lab | Лаборатория Путешествия {% endblock head_title %}</title>
</head>
<body>

{% include 'snippets/header.html' %}

{% block content %}{% endblock %}
<a class="mobile-btn fixed-bottom btn btn-success" href="tel:+375297779723"><i class="fa fa-phone fa-rotate-90" aria-hidden="true"></i> Позвонить</a>
{% include 'snippets/footer.html' %}
{% include 'snippets/js.html' %}
<!-- <script>
    ${document}.ready(function(){
        {% block jquery %}{% endblock %}
    })
</script> -->
<!--     <script>
        $(document).ready(function(){
            var $marketingModal = $("#signUpModal");

            $("body").mouseleave(function(){
                $marketingModal.modal()
            })

        $(".join-form").submit(function(e){
            e.preventDefault()
            console.log($(this).serialize())
            var joinFormAPIEndpoint = "{% url 'form-join' %}";
            $.ajax({
                method: "POST",
                data: $(this).serialize(),
                url: joinFormAPIEndpoint,
                success: function(data){
                    console.log(data)
                    $(".join-form").parent().html("<p class=lead>Спасибо за заявку! Наш менеджер свяжется с Вами</p>")
                },
                error: function(data){
                    console.log("error")
                    console.log(data)
                    $(".join-form-error").text(data.responseJSON)
                }
            })
        })

        })
    </script> -->
    {% include 'snippets/modal.html' %}
</body>
</html>

