{% extends "base.html" %}
{% load static %}
{% block head_title %}{{ block.super }} | Автобусные Туры{%endblock head_title %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Открой мир путешествий вместе с Travel Lab</h1>      
    <p>Не знаешь с чего начать?</p>
  </div>   
</div>


<div class="container">
    <div class="row">
        {% for obj in object_list %}
        <p>{{ obj.category }}</p>
            <div class="col-sm-6 col-md-4">
                <div class="card border-dark">
                    <a href="{{ obj.slug }}"><img class='card-img-top' src='{{ obj.image.url }}'></a>
                    <div class="card-body">
                    <h3 class="card-title"><a href='{{ obj.slug }}'>{{ obj.tour_name }}</a></h3>
                    <p class="card-text">{{ obj.short_title }}</p>
                    <p class="text-muted">Обновлено: {{ obj.updated }}</p>
                        <a href="{{ obj.slug }}" class="btn btn-primary btn-lg" role="button">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<hr/>
</div>

{% endblock content %}
