{% extends "base.html" %}

{% block head_title %}{{ block.super }} | Контакты{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center">Контакты:</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h5>Телефоны:</h5></li>
        <a class="list-group-item" href="tel:+375293694589">+375 (29) 369-45-89</a>
        <a class="list-group-item" href="tel:+375297779723">+375 (29) 777-97-23</a>
        <a class="list-group-item" href="tel:+375259016706">+375 (25) 901-67-06</a>
        <li class="list-group-item"><h5>Email: </h5></li>
        <a class="list-group-item" href="mailto:travellabminsk@gmail.com">travellabminsk@gmail.com</a>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="text-center">Карта проезда:</h3>
    </div>
  </div>
</div>

{% endblock %}