{% extends "base.html" %}
{% load static %}
{% block head_title %}{{ block.super }} | Главная{%endblock head_title %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Открой мир путешествий вместе с Travel Lab</h1>      
    <p>Не знаешь с чего начать?</p>
  </div>   
</div>
<div class="container">
    <div class="row">
    <div class="col">
    <div class="card-group">
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title">Приятные цены <i class="fa fa-money" aria-hidden="true"></i></h4>
                <p class="card-text">Мы собрали только самые лучшие предложения от туроператоров по всем авианаправлениям. А во всех наших автобусных турах - мы сами являемся туроперато-рами и вы получаете тур напрямую по самой лучшей цене!</p>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-block"> 
                <h4 class="card-title">С Нами надежно <i class="fa fa-handshake-o" aria-hidden="true"></i></h4>
                <p class="card-text">Мы выбираем только самые надежные направления и самые безопасные туры. Бронируя тур у нас, вы получаете гарантию, что вас тур состоится и вы будете застрахованы от неприятных сюрпризов!</p>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title">С Нами удобно <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></h4>
                <p class="card-text">Офис нашей компании расположен в центре Минска. Туристы из других городов могут забронировать тур дистанционно: по телефону или почте. Мы вышлем все необходимые документы для бронирования тура.</p>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Оригинально <i class="fa fa-hand-o-left" aria-hidden="true"></i></h4>
                <p class="card-text">Самые интересные и не банальные, но в то же время информативные экскурсии - это то к чему мы стремимся в нашей работе. Теплые воспоминания и яркие впечатления гарантируем!</p>
              </div>
            </div>
        </div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <a href="{% url 'bus-tour-list' %}">
                <img class="card-img-top" src="{% static 'img/bus-tour.jpg' %}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'bus-tour-list' %}">Автобусные туры</a></h4>
                    <p class="card-text">Во Львов, Карпаты, Санкт-Петербург, Одессу и другие направления.</p>
                    <a href="{% url 'bus-tour-list' %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <a href="{% url 'avia-tour-list' %}">
                <img class="card-img-top" src="{% static 'img/avia-tour.jpeg' %}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'avia-tour-list' %}">Авиатуры</a></h4>
                    <p class="card-text">Пора собирать чемоданы и лететь отдыхать.</p>
                    <a href="{% url 'avia-tour-list' %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <a href="{% url 'corp-tour-list' %}">
                <img class="card-img-top" src="{% static 'img/corp-tour.jpg' %}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'corp-tour-list' %}">Корпаративные туры</a></h4>
                    <p class="card-text">Вашей компании надо организовать корпаративный тур? Посмотрите наши предложения и оставьте заявку.</p>
                    <a href="{% url 'corp-tour-list' %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <a href="{% url 'ind-tour-list' %}">
                <img class="card-img-top" src="{% static 'img/ind-tour.jpg' %}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'ind-tour-list' %}">Индивидуальные туры</a></h4>
                    <p class="card-text">Хотите отдохнуть, но нет подходящих туров. Организуем индивидуальный тур по Вашим предпочтениям.</p>
                    <a href="{% url 'corp-tour-list' %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.travellab.by",
  "name": "Travel Lab | Лаборатория Путешествий",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+375-29-369-45-89",
    "contactType": "Customer service"
    },
   "address": {
    "@type": "PostalAddress",
    "streetAddress": "В.Хоружей 1А, ряд 1, место 10",
    "addressLocality": "Минск",
    "addressRegion": "Беларусь"
  }
}
</script>
{% endblock content %}
